﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

#finishModal .modal-dialog{
    width: 1060px;
}

#finishModal .modal-body{
    background-image: url(imgs/bx_loader.gif);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 630px;
}

@media(min-width:34em){

}
@media(min-width:48em){
    
}
@media(min-width:62em){

}
@media(min-width:75em){

}
