﻿@{
    ViewBag.Title = "Home";
}

<div class="container" ng-controller="HomeController" ng-init="init();">

    <!-- Modal Customer -->
    <div class="modal fade" id="modalCustomer" tabindex="-1" role="dialog" aria- labelledby="modalCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{action}} - Comprador</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idCustomer" class="control-label">ID</label>
                        <input name="idCustomer" id="idCustomer" class="form-control" ng-model="customer.id" disabled />
                    </div>
                    <div class="form-group">
                        <label for="nameCustomer" class="control-label">Nome</label>
                        <input name="nameCustomer" id="nameCustomer" class="form-control" ng-model="customer.name" placeholder="Digite o nome" />
                    </div>
                    <div class="form-group">
                        <label for="streetCustomer" class="control-label">Rua</label>
                        <input name="streetCustomer" id="streetCustomer" class="form-control" ng-model="customer.street" placeholder="Digite o nome da rua" />
                    </div>
                    <div class="form-group">
                        <label for="districtCustomer" class="control-label">Bairro</label>
                        <input name="districtCustomer" id="districtCustomer" class="form-control" ng-model="customer.district" placeholder="Digite o nome do bairro" />
                    </div>
                    <div class="form-group">
                        <label for="cityCustomer" class="control-label">Cidade</label>
                        <input name="cityCustomer" id="cityCustomer" class="form-control" ng-model="customer.city" placeholder="Digite o nome da cidade" />
                    </div>
                    <div class="form-group">
                        <label for="emailCustomer" class="control-label">E-mail</label>
                        <input name="emailCustomer" id="emailCustomer" class="form-control" ng-model="customer.email" placeholder="Digite o e-mail" />
                    </div>

                    <div class="form-group">
                        <label for="statusCustomer" class="control-label">Status</label>
                        <input name="statusCustomer" id="statusCustomer" class="form-control" ng-model="customer.active" />
                    </div>
                    <div class="form-group">
                        <label for="cpfCustomer" class="control-label">CPF</label>
                        <input name="cpfCustomer" id="cpfCustomer" class="form-control" ng-model="customer.cpf" placeholder="Digite o CPF" />
                        <div class="form-group">
                            <label for="cepCustomer" class="control-label">CEP</label>
                            <input name="cepCustomer" id="cepCustomer" class="form-control" ng-model="customer.cep" placeholder="Digite o nome da CEP" />
                        </div>
                        <div class="form-group">
                            <label for="telephoneCustomer" class="control-label">Telefone</label>
                            <input name="telephoneCustomer" id="telephoneCustomer" class="form-control" ng-model="customer.telephone" placeholder="Digite o telefone" />
                        </div>
                        <div class="form-group">
                            <label for="emailCustomer" class="control-label">Estado</label>
                            <input name="emailCustomer" id="emailCustomer" class="form-control" ng-model="customer.state" placeholder="Digite o e-mail" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CancelAddEditCustomer();">Cancelar</button>
                        <button type="submit" class="btn btn-primary" ng-click="SaveCustomer();">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Customer -->
    <!-- Modal Product -->
    <div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria- labelledby="modalProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{action}} Produto</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idProduct" class="control-label">ID</label>
                        <input name="idProduct" id="idProduct" class="form-control" ng-model="product.id" disabled />
                    </div>
                    <div class="form-group">
                        <label for="descriptionProduct" class="control-label">Descricao</label>
                        <input name="descriptionProduct" id="descriptionProduct" class="form-control" ng-model="product.description" placeholder="Digite uma descricao" />
                    </div>
                    <div class="form-group">
                        <label for="purchasePriceProduct" class="control-label">Preco de Compra</label>
                        <input name="purchasePriceProduct" id="purchasePriceProduct" class="form-control" ng-model="product.purchasePrice" placeholder="Digite o preco de compra" />
                    </div>
                    <div class="form-group">
                        <label for="salePriceProduct" class="control-label">Preco de Venda</label>
                        <input name="salePriceProduct" id="salePriceProduct" class="form-control" ng-model="product.salePrice" placeholder="Digite o preco de venda" />
                    </div>
                    <div class="form-group">
                        <label for="stockQuantityProduct" class="control-label">Quantidade</label>
                        <input name="stockQuantityProduct" id="stockQuantityProduct" class="form-control" ng-model="product.stockQuantity" placeholder="Digite a quantidade em estoque" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CancelAddEditProduct();">Cancelar</button>
                    <button type="submit" class="btn btn-primary" ng-click="SaveProduct();">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Product -->
    <!-- Modal Iframe -->
    <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="modalfinish" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe id="iframeEnd" style="zoom:0.60" frameborder="0" height="100%" width="100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Iframe -->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-10">
                    <button ng-click="AddCustomer()" class="btn btn-default">Adicionar novo comprador</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iv class="divListCustomer">

                        <h4>Compradores</h4>

                        <table class="table table-hover">
                            <tr>
                                <td><b>#</b></td>
                                <td><b>Id</b></td>
                                <td><b>Name</b></td>
                                <td class="hidden-xs"><b>Address</b></td>
                                <td class="hidden-xs"><b>Email</b></td>
                                <td class="hidden-xs"><b>Status</b></td>
                                <td class="hidden-sm hidden-xs"><b>City</b></td>
                                <td class="hidden-sm hidden-xs"><b>Telephone</b></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="customer in customers">
                                <td>
                                    <input type="radio" name="selected"
                                           ng-value="customer.id"
                                           ng-change="SetSelectedCustomer(customer)"
                                           ng-model="selectedCustomer" />
                                </td>
                                <td>
                                    {{ customer.id }}
                                </td>

                                <td>
                                    {{ customer.name }}
                                </td>

                                <td class="hidden-xs col-md-5">
                                    {{ customer.street }}
                                </td>

                                <td class="hidden-xs col-md-2">
                                    {{ customer.email }}
                                </td>

                                <td class="hidden-xs">
                                    {{ CustomerStatus(customer.active) }}
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    {{ customer.city }}
                                </td>

                                <td class="hidden-sm hidden-xs">
                                    {{ customer.telephone }}
                                </td>

                                <td class="col-md-4">
                                    <span ng-click="EditCustomer(customer)" class="btn btn-primary">Editar</span>
                                    <span ng-click="RemoveCustomer(customer)" class="btn btn-danger">Excluir</span>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-10">
                    <button ng-click="AddProduct()" class="btn btn-default">Adicionar novo produto</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iv class="divListProduct">

                        <h4>Produtos</h4>

                        <table class="table table-hover">
                            <tr>
                                <td><b>select</b></td>
                                <td><b>Id</b></td>
                                <td><b>Description</b></td>
                                <td><b>Purchase Price</b></td>
                                <td><b>Sale Price</b></td>
                                <td><b>Stock Quantity</b></td>

                                <td></td>
                            </tr>
                            <tr ng-repeat="product in products">
                                <td>
                                    <input type="checkbox" name="selectedProducts"
                                           ng-checked="isSelected(product)"
                                           ng-click="changeSelectedProduct($event, product)">
                                </td>
                                <td>
                                    {{ product.id }}
                                </td>

                                <td class="col-md-5">
                                    {{ product.description }}
                                </td>

                                <td class="hidden-xs col-md-2">
                                    {{ product.purchasePrice }}
                                </td>

                                <td class="hidden-xs col-md-3">
                                    {{ product.salePrice }}
                                </td>

                                <td class="hidden-xs">
                                    {{ product.stockQuantity }}
                                </td>

                                <td class="col-md-4">
                                    <span ng-click="EditProduct(product)" class="btn btn-primary">Editar</span>
                                    <span ng-click="RemoveProduct(product)" class="btn btn-danger">Excluir</span>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="sendPayment();">Finalizar compra</button>
        </div>
    </div>
    <hr />
</div>
